# First look into the available Dataset

#### Dataset: "Global Shark Attacks"
*Sorce: Kaggle[https://www.kaggle.com/teajay/global-shark-attacks]*

In [1]:
import re

import geopy
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from geopy.geocoders import Nominatim

In [2]:
pd.read_csv("./assets/attacks.csv", nrows=2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN

In [3]:
original_shark_df = pd.read_csv("./assets/attacks.csv", encoding="latin1")
pd.set_option("max_colwidth", 60)

In [4]:
original_shark_df.shape

(25723, 24)

In [5]:
original_shark_df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
original_shark_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
original_shark_df.isnull().sum().sort_values(ascending=False)

Unnamed: 22               25722
Unnamed: 23               25721
Time                      22775
Species                   22259
Age                       22252
Sex                       19986
Activity                  19965
Location                  19961
Fatal (Y/N)               19960
Area                      19876
Name                      19631
Country                   19471
Injury                    19449
Investigator or Source    19438
Type                      19425
Year                      19423
href formula              19422
Date                      19421
pdf                       19421
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Case Number               17021
dtype: int64

In [8]:
# source csv file (attacks.csv found @ Kaggle.com) contains almost 3/4 of empty rows

original_shark_df[original_shark_df.duplicated(keep=False)].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6312,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6313,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
original_shark_df.drop_duplicates(inplace=True)

In [10]:
original_shark_df.shape

(6312, 24)

In [11]:
original_shark_df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [12]:
original_shark_df.columns = original_shark_df.columns.str.lower()

In [13]:
original_shark_df.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex ', 'age', 'injury', 'fatal (y/n)', 'time',
       'species ', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [14]:
# for the analysis keeping usefull columns only

shark_df = original_shark_df[
    [
        "case number",
        "type",
        "country",
        "area",
        "location",
        "sex ",
        "age",
        "fatal (y/n)",
        "href formula",
    ]
].copy()

shark_df.head()

,case number,type,country,area,location,sex,age,fatal (y/n),href formula
0,2018.06.25,Boating,USA,California,"Oceanside, San Diego County",F,57,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...
1,2018.06.18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",F,11,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...
2,2018.06.09,Invalid,USA,Hawaii,"Habush, Oahu",M,48,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...
3,2018.06.08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...
4,2018.06.04,Provoked,MEXICO,Colima,La Ticla,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...

In [15]:
shark_df["case number"] = shark_df["case number"].astype(str)

In [16]:
shark_df["year"] = shark_df["case number"].str[0:4]
shark_df["month"] = shark_df["case number"].str[5:7]
shark_df.drop(["case number"], axis=1, inplace=True)

In [17]:
shark_df.head()

,type,country,area,location,sex,age,fatal (y/n),href formula,year,month
0,Boating,USA,California,"Oceanside, San Diego County",F,57,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06
1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",F,11,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06
2,Invalid,USA,Hawaii,"Habush, Oahu",M,48,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06
3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06
4,Provoked,MEXICO,Colima,La Ticla,M,NaN,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06

In [18]:
# rename important columns

shark_df = shark_df.rename(
    columns={"sex ": "sex", "fatal (y/n)": "fatal", "href formula": "link"}
)

shark_df.head(2)

,type,country,area,location,sex,age,fatal,link,year,month
0,Boating,USA,California,"Oceanside, San Diego County",F,57,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06
1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",F,11,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...,2018,06

In [19]:
# reorder columns

shark_df = shark_df[
    [
        "year",
        "month",
        "type",
        "country",
        "area",
        "location",
        "sex",
        "age",
        "fatal",
        "link",
    ]
]

shark_df.head(2)

,year,month,type,country,area,location,sex,age,fatal,link
0,2018,06,Boating,USA,California,"Oceanside, San Diego County",F,57,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...
1,2018,06,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",F,11,N,http://sharkattackfile.net/spreadsheets/pdf_directory/20...

In [20]:
shark_df.isnull().sum().sort_values(ascending=False)

age         2841
sex          575
location     550
fatal        549
area         465
country       60
type          14
link          11
year           0
month          0
dtype: int64


# cleaning first only important columns for the ww analysis

In [21]:
# column: country

In [22]:
def try_str(value):
    """Transform column values to string."""

    try:
        return str(value)
    except:
        return np.nan

In [23]:
shark_df["country"] = shark_df["country"].map(try_str)

In [24]:
shark_df["country"] = shark_df["country"].str.lower()
shark_df["country"] = shark_df["country"].str.strip()
shark_df["country"].fillna("unknown", inplace=True)

In [25]:
shark_df["country"].value_counts(ascending=False).head(20)

usa                 2229
australia           1338
south africa         579
papua new guinea     134
new zealand          128
brazil               112
bahamas              109
mexico                90
italy                 71
fiji                  65
philippines           62
nan                   60
reunion               60
new caledonia         53
cuba                  46
mozambique            45
spain                 44
egypt                 40
india                 40
croatia               34
Name: country, dtype: int64

In [26]:
# column: sex

dict(shark_df["sex"].value_counts(ascending=False))

{'M': 5094, 'F': 637, 'M ': 2, 'N': 2, 'lli': 1, '.': 1}

In [27]:
shark_df["sex"] = shark_df["sex"].str.lower()
shark_df["sex"].fillna("unknown", inplace=True)
shark_df.replace(
    {"sex": {"m ": "m", "n": "m", ".": "unknown", "lli": "unknown"}}, inplace=True
)
shark_df.replace({"sex": {"m": "0", "f": "1", "unknown": "2"}}, inplace=True)

In [28]:
def try_int(value):
    """Transform column values to integer."""

    try:
        return int(value)
    except:
        return np.nan

In [29]:
shark_df["sex"] = shark_df["sex"].map(try_int)

In [30]:
# checking modifications
# Legend:
# 0 = no
# 1 = yes
# 2 = unknown

dict(shark_df["sex"].value_counts(ascending=False))

{0: 5098, 1: 637, 2: 577}

In [31]:
# column: fatal

print(type("country"))
print(dict(shark_df["fatal"].value_counts(ascending=False)))

<class 'str'>
{'N': 4293, 'Y': 1388, 'UNKNOWN': 71, ' N': 7, 'y': 1, 'M': 1, '2017': 1, 'N ': 1}

In [32]:
shark_df["fatal"] = shark_df["fatal"].str.lower()
shark_df["fatal"].fillna("unknown", inplace=True)
shark_df.replace(
    {"fatal": {" n": "n", "n ": "n", "m": "n", "2017": "unknown"}}, inplace=True
)
shark_df.replace({"fatal": {"n": "0", "y": "1", "unknown": "2"}}, inplace=True)

In [33]:
shark_df["fatal"] = shark_df["fatal"].map(try_int)

In [34]:
# checking modifications
# Legend:
# 0 = no
# 1 = yes
# 2 = unknown

print(dict(shark_df["fatal"].value_counts(ascending=False)))

{0: 4302, 1: 1389, 2: 621}

In [35]:
round((shark_df["country"].value_counts(normalize=True).head(10)) * 100, 2)

usa                 35.31
australia           21.20
south africa         9.17
papua new guinea     2.12
new zealand          2.03
brazil               1.77
bahamas              1.73
mexico               1.43
italy                1.12
fiji                 1.03
Name: country, dtype: float64

In [37]:
shark_df.groupby(["country"]).count().sort_values(by="fatal", ascending=False).head(10)

                  year  month  type  area  location   sex   age  fatal  link
country
usa               2229   2229  2229  2225      2178  2229  1502   2229  2229
australia         1338   1338  1337  1324      1294  1338   724   1338  1337
south africa       579    579   579   574       571   579   366    579   579
papua new guinea   134    134   134   128       121   134    47    134   134
new zealand        128    128   128   125       124   128    49    128   128
brazil             112    112   112   104       107   112    64    112   112
bahamas            109    109   109    82        78   109    68    109   109
mexico              90     90    90    82        79    90    44     90    90
italy               71     71    71    66        67    71    25     71    71
fiji                65     65    65    50        47    65    32     65    65